@model PagedList.IPagedList<HumanResource.Domain.Department>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h3>Department List <small>@Html.ActionLink("Create New", "Create")</small></h3>

@using (Html.BeginForm())
{
    <div class="form-inline">
        <div class="row">
            <div class="col-lg-4">
                <div class="input-group">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
}

<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Department Name
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:85%">
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DepartmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId })
            </td>
        </tr>
    }
</table>
<br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
